/*
!.gitignore
!README.md

!/Blackjack

!/Power the people

!/Simplify

!/Famous

!/Tetris
/Tetris/*

!/Tetris/app
/Tetris/app/*
!/Tetris/app/Tetris.hs

!/Tetris/src
/Tetris/src/*
!/Tetris/src/Shapes.hs
!/Tetris/src/GameInterface.hs
!/Tetris/src/ConsoleGUI.hs
!/Tetris/src/CodeWorldGUI.hs
